@charset "UTF-8";
body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

logo {
    float: left;	
}

#nav {
    float: right;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    word-spacing: 3em;
    display: inline;
    font-family: bubbler-one;
}

.text {
    color: black;
    text-decoration: none;	
}

.active {
	color: darkgrey;
	text-decoration: none;
}

body footer {
    text-align: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    word-spacing: 3em;	
}
a {
	text-decoration: none;
}
body div {
	min-height: 100px;
}

.flowheader {
    font-family: dawning-of-a-new-day;
    font-style: normal;
    font-weight: 400;
	font-size: 3em;
	text-align: center;
}

p {
    font-family: bubbler-one;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    width: 65%;
    background:rgba(255,255,255, 0.7);
	display: block;
	margin: auto;
	padding: 5px;
}



/* Dropdown Button */
.dropbtn {
    font-size: 1em;
    font-family: bubbler-one;
    font-style: normal;
    font-weight: 400;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-style: hidden;
	background: no-repeat;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;	
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.9;
    min-width: 60px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 0.5em;
    word-spacing: 0em;
    text-align: center;
    font-family: bubbler-one;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #F5DCEE;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.imgrow {
	width: 80%;
	display: block;
	margin: auto;
	text-align: center;
}

#img1 {
	width: 26.66%;
}

#img2 {
	width: 26.66%;
}

#img3 {
	width: 26.66%;
}